<app-navbar></app-navbar>
<h2 class="px-5 pt-3" id="printable">Calculator</h2>
<div class="d-md-flex gap-5 m-3 px-4">
  <div class="d-flex flex-column gap-3">
    <div class="concrete-input-wrapper">
      <label for="beamLength" id="printable"> Length</label>
      <div class="d-flex gap-2 align-items-center">
        <input type="number" id="beamLength" [(ngModel)]="beamLength" (keypress)="handleKeyPress($event, calculateM)"
          class="form-control" id="printable" />
        <span id="printable">mm</span>
      </div>
    </div>
    <div class="concrete-input-wrapper">
      <label for="beamDepth" id="printable"> Depth</label>
      <div class="d-flex gap-2 align-items-center">
        <input type="number" id="beamDepth" [(ngModel)]="beamDepth" (keypress)="handleKeyPress($event, calculateM)"
          class="form-control" id="printable" />
        <span id="printable">mm</span>
      </div>
    </div>
    <div class="concrete-input-wrapper">
      <label for="effective" id="printable"> Effective cover</label>
      <div class="d-flex gap-2 align-items-center">
        <input type="number" id="effective" [(ngModel)]="effectiveCover" (keypress)="handleKeyPress($event, calculateM)"
          class="form-control"  id="printable"/>
        <span id="printable">mm</span>
      </div>
    </div>
    <div class="concrete-input-wrapper"> <label for="bendingMoment" id="printable" id="printable">Bending Moment</label>
      <div class="d-flex gap-2 align-items-center">
        <input type="number" id="bendingMoment" id="printable" id="printable" [(ngModel)]="bendingMoment"
          (keypress)="handleKeyPress($event, calculateM)" class="form-control" />
        <span id="printable" id="printable">Nm</span>
      </div>
    </div>
    <div class="concrete-input-wrapper">
      <label for="sigmaCBC" id="printable">σ<sub>cbc</sub></label>
      <div class="d-flex gap-2 align-items-center">
        <input type="number" id="sigmaCBC" id="printable" [(ngModel)]="sigmaCBC" (keypress)="handleKeyPress($event, calculateM)"
          class="form-control" />
        <span id="printable">N/mm²</span>
      </div>
    </div>
    <div class="concrete-input-wrapper">
      <label for="sigmaST" id="printable">σ<sub>st</sub></label>
      <div class="d-flex gap-2 align-items-center">
        <input type="number" id="sigmaST" id="printable" [(ngModel)]="sigmaST" (keypress)="handleKeyPress($event, calculateM)"
          class="form-control" />
        <span id="printable">N/mm²</span>
      </div>
    </div>
    <div class="concrete-input-wrapper">
      <label for="noOfBars" id="printable">No of bars</label>
      <div class="d-flex gap-2 align-items-center">
        <input type="number" id="noOfBars" id="printable" [(ngModel)]="noOfBars" (keypress)="handleKeyPress($event, calculateAPhi)"
          class="form-control" />
        <span></span>
      </div>
    </div>
    <div class="d-md-flex gap-3 my-3">
      <button (click)="resetCalculated()" class="btn btn-light col-md-6 mb-3">
        Reset
      </button>

      <button (click)="calculate()" class="btn btn-dark col-md-6 col-12 mb-3">
        Calculate
      </button>
    </div>
  </div>
  <div>
    <div class="values-output">
      <p class="" id="printable">m:</p>
      <p class="" *ngIf="m !== ''" id="printable">
        <b id="printable">{{ m }}</b> mm
      </p>
    </div>
    <div class="values-output">
      <p class="" id="printable">k:</p>
      <p class="" *ngIf="k !== ''" id="printable">
        <b id="printable">{{ k }}</b>
      </p>
    </div>
    <div class="values-output">
      <p class="" id="printable">j:</p>
      <p class="" *ngIf="j !== ''" id="printable">
        <b id="printable">{{ j }}</b>
      </p>
    </div>
    <div class="values-output">
      <p class="" id="printable">r:</p>
      <p class="" *ngIf="r !== ''" id="printable">
        <b id="printable">{{ r }}</b> N/mm²
      </p>
    </div>
    <div class="values-output">
      <p class="" id="printable">n:</p>
      <p class="" *ngIf="n !== ''" id="printable">
        <b id="printable">{{ n }}</b> mm
      </p>
    </div>
    <div class="values-output">
      <p class="" id="printable">m1:</p>
      <p class="" *ngIf="mOne !== ''" id="printable">
        <b id="printable">{{ mOne }}</b> Nmm
      </p>
    </div>
    <div class="values-output">
      <p class="" id="printable">m2:</p>
      <p class="" *ngIf="mTwo !== ''" id="printable">
        <b id="printable">{{ mTwo }}</b> Nmm
      </p>
    </div>
    <div class="values-output">
      <p class="" id="printable">Ast1:</p>
      <p class="" *ngIf="aSTOne !== ''" id="printable">
        <b id="printable">{{ aSTOne }}</b> mm²
      </p>
    </div>
    <div class="values-output">
      <p class="" id="printable">Ast2:</p>
      <p class="" *ngIf="aSTTwo !== ''" id="printable">
        <b id="printable">{{ aSTTwo }}</b> mm²
      </p>
    </div>
    <div class="values-output">
      <p class="" id="printable">Ast:</p>
      <p class="" *ngIf="aST !== ''" id="printable">
        <b id="printable">{{ aST }}</b> mm²
      </p>
    </div>
    <div class="values-output">
      <p class="" id="printable">AΦ:</p>
      <p class="" *ngIf="aPhi !== ''" id="printable">
        <b id="printable">{{ aPhi }}</b> mm²
      </p>
    </div>
    <div class="values-output">
      <p class="" id="printable">No of bars:</p>
      <p class="" *ngIf="barsRequired !== ''" id="printable">
        <b id="printable">{{ barsRequired }}</b>
      </p>
    </div>
    <div class="values-output">
      <p class="" id="printable">Asc:</p>
      <p class="" *ngIf="aSC !== ''" id="printable">
        <b id="printable">{{ aSC }}</b> mm²
      </p>
    </div>
    <div class="values-output">
      <p class="" id="printable">Bars required:</p>
      <p class="" *ngIf="totalNoOfBars !== ''" id="printable">
        <b id="printable">{{ totalNoOfBars }}</b>
      </p>
    </div>
  </div>
</div>