:host {
    height: 100%;
    width: 100%;
    position: relative;
}
#konva-container {
    height: 100%;
    width: 100%;
}

.zoom-in {
    position: absolute;
    top:0;
    right: 0;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.zoom-out {
    position: absolute;
    top:30px;
    right: 0;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}