<!-- <div class="navbar">
  <a href="/" class="d-flex gap-2 align-items-center">
    <img src="/assets/images/cead-logo.png" class="navbar-logo" />
    <h3 class="m-0">CEAD</h3>
  </a>
  <div></div>
  <button (click)="navigate()">concrete bars</button>
</div> -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand d-flex gap-2 align-items-center" href="/dashboard"><img src="/assets/images/cead-logo.png"
        id="printable-logo" class="navbar-logo" />
      <h3 class="m-0" id="printable-name">CEAD</h3>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-md-end" id="navbarSupportedContent">
      <div class="d-flex gap-3">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-3">
          <li class="d-flex gap-2 align-items-center"><a class="btn btn-light" href="/concrete">Design of Concrete bars</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Features
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item disabled" href="#">Design of beam</a></li>
              <li><a class="dropdown-item disabled" href="#">Design of column</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li><a class="dropdown-item disabled" href="#">Design of footing</a></li>
              <li><a class="dropdown-item disabled" href="#">Design of slab</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <button class="btn btn-dark d-flex gap-2 align-items-center" (click)="printPDF()">
              Generate PDF<img src="assets/images/download.svg" width="16px" />
            </button>
          </li>
          <li class="nav-item ">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger d-flex gap-2 align-items-center" data-bs-toggle="modal"
              data-bs-target="#exampleModal">
              Logout<img src="assets/images/logout.svg" width="16px" />
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> Do you want to logout?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-footer d-flex justify-content-end gap-2">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a href="/" class="btn btn-dark">Continue</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>