<div class="login-wrapper">
  <div class="login-container">
    <div class="logo-contianer">
      <img
        src="/assets/images/cead-logo.png"
        alt="Cead logo"
        class="project-logo"
      />
      <h1>CEAD</h1>
      <h5 class="text-center">Civil Engineering Analysis and Design</h5>
    </div>
    <form (ngSubmit)="login()" class="login-form-wrapper">
      <!-- <div> -->
      <h3>Welcome back!</h3>
      <p class="mb-4" style="color: #6a6a6a">Please signin to continue</p>
      <input
        type="text"
        id="username"
        name="username"
        [(ngModel)]="username"
        required
        placeholder="Username"
        class="custom-input"
      />

      <!-- <label for="password">Password:</label> -->
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        required
        placeholder="Password"
        class="custom-input"
      />

      <button type="submit" class="custom-sign-in">Sign in</button>
      <!-- </div> -->
    </form>
  </div>
</div>
