.outer-wrapper {
    display: flex;
    height: calc(100vh - 7rem);
    width: 100%;

    @media only screen and (max-width: 996px) {
        flex-direction: column;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sidebar-section {
        width: 34rem;
        padding: 2rem 1rem 1rem 1rem;

        @media only screen and (max-width: 996px) {
            width: 100%;
            max-width: 30rem;
        }
    }

    .drawing-ground {
        width: calc(100% - 20rem);
        height: 100%;
        overflow: hidden;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        margin: 1rem;
        border-radius: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;

        @media only screen and (max-width: 996px) {
            width: calc(100% - 2rem);
            min-height: 6rem;
        }
    }

    input {}
}

.check-button {
    border: none;
    background: none;
    outline: none;
}

.support-tab-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;

    @media only screen and (max-width: 767px) {
        grid-template-columns: repeat(2, 1fr);

    }

    .active {
        background: #00a05a !important;
    }
}

.cursor-pointer {
    cursor: pointer;
}