/* You can add global styles to this file, and also import other style files */
body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

label {
  font-weight: 500;
}

@media print {
  @page {
    // size: A4 landscape;
    size: A4 portrait;
    margin: 20px;
  }

  body * {
    visibility: hidden;
  }

  #printable,
  #printable,
  #printable-canvas,
  #printable-values,
  #printable-values1,
  #printable-values2,
  #printable-values3,
  #printable-logo,
  #printable-name,
  #printable-concrete-calculation,
  #konva-container * {
    visibility: visible;
  }

  #printable-logo {
    position: absolute;
    left: 0;
    top: 0px;
  }

  #printable-name {
    position: absolute;
    left: 60px;
    top: 10px;
  }

  #printable-values {
    position: absolute;
    left: 0;
    top: 60px;
  }
  #printable-values6 {
    position: absolute;
    left: 0;
    top: 80px;
  }
  #printable-values1 {
    position: absolute;
    left: 0;
    top: 100px;
  }
  #printable-values2 {
    position: absolute;
    left: 0;
    top: 120px;
  }
  #printable-values3 {
    position: absolute;
    left: 0;
    top: 140px;
  }

  #konva-container {
    position: absolute;
    right: 0;
    top: 160px;
  }

  // #printable-canvas {
  //   position: absolute;
  //   left: 0;
  //   top: 60px;
  //   width: 97%;
  //   height: 600px;
  // }

  #printable-concrete-calculation {
    position: absolute;
    left: 0;
    top: 60px;
  }

  // .printing-canvas{
  //   max-width: 1200px;
  //   height: 300px;
  // }
}